---
# Notes
---

- Typed API (Dataset): we specify the type of the column:
    - Scala, Java
- Untyped API (Dataframe): we do not specify the type of the column:
    - Python, R, Scala

Depending on the type of programming language we have we may have different errors when trying to compute some computation within unsupported data types. 

Because datasets already know the kind of data they are working with, they usually work faster than untyped languages. Spark Python and Spark Scala have similar runtime efficienccy because it already has some optimization algorithms implemented. 

---

# Spark SQL try at home

## 1.1 Creating Spark session

On the terminal, once the pull is done:

docker run -p 8888:8888 jupyter/all-spark-notebook

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL") \
    .getOrCreate()

The operation couldn’t be completed. Unable to locate a Java Runtime.
Please visit http://www.java.com for information on installing Java.

/Users/flaviaferrusmarimon/anaconda3/lib/python3.9/site-packages/pyspark/bin/spark-class: line 96: CMD: bad array subscript
head: illegal line count -- -1

Exception: Java gateway process exited before sending its port number

In [ ]:
spark.sparkContext

## 1.2 Creating DataFrame

In [3]:
# spark is an existing SparkSession
df = spark.read.json("./data/people.json")
# Displays the content of the DataFrame to stdout
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

---

Spark rdd difference from python list: 
- Rdd distributed
- Python not distributed

Same thing happens with the dataframes, we can access the whole dataframe on Spark, but not the indices or specific keys. 

---

## 1.3 Data Frame Operations

In [4]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [5]:
df.select("name").show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [6]:
df.select(df['name']).show() # prefered

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

In [7]:
df.select(df['name'], df['age'] + 1).show()

+-------+---------+
|   name|(age + 1)|
+-------+---------+
|Michael|     null|
|   Andy|       31|
| Justin|       20|
+-------+---------+

In [8]:
df.filter(df['age'] > 21).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [9]:
df.groupBy("age").count().show() 
# sql equivalent- SELECT age,count(name) as count FROM people group by age

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

There are many places you have to refer to a column, and there are three different ways to do it. These are equivalent:

In [10]:
df.groupby(df['name']).count().show()  # as a getitem on the DF
df.groupby('name').count().show()        # by column name only
df.groupby(df.name).count().show()     # as a property on the DF

+-------+-----+
|   name|count|
+-------+-----+
|Michael|    1|
|   Andy|    1|
| Justin|    1|
+-------+-----+

+-------+-----+
|   name|count|
+-------+-----+
|Michael|    1|
|   Andy|    1|
| Justin|    1|
+-------+-----+

+-------+-----+
|   name|count|
+-------+-----+
|Michael|    1|
|   Andy|    1|
| Justin|    1|
+-------+-----+

Mixing these can be confusing. Suggestion: stick to data['lname'] style: it always works an is unambiguous.

The various representations fail weirdly:

In [11]:
df.where(df['age'] < 25).show() # works
df.where(df.age < 25).show()    # works
df.where('age' < 25).show()      # fails: TypeError

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+

+---+------+
|age|  name|
+---+------+
| 19|Justin|
+---+------+

TypeError: '<' not supported between instances of 'str' and 'int'

… because 'age' < 25 is a bool, not a column expression.

Similarly as shown below:

In [12]:
maxage = df.groupby(df['name']).max()
maxage.show()
maxage.select(maxage['max(age)']).show() # works
maxage.select('max(age)').show()         # works
maxage.select(maxage.max(age)).show()    # fails: AttributeError

+-------+--------+
|   name|max(age)|
+-------+--------+
|Michael|    null|
|   Andy|      30|
| Justin|      19|
+-------+--------+

+--------+
|max(age)|
+--------+
|    null|
|      30|
|      19|
+--------+

+--------+
|max(age)|
+--------+
|    null|
|      30|
|      19|
+--------+

AttributeError: 'DataFrame' object has no attribute 'max'

because maxage doesn't have a max attribute, and if it did, maxage.max(age) is a Python function call, not what you expect.

# 2.0 Running SQL Queries Programmatically

## 2.1 Inferring the Schema Using Reflection

In [13]:
# Register the DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

sqlDF = spark.sql("SELECT age,name FROM people where age>21") # Same query as in line 8 
sqlDF.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [14]:
sqlGroup = spark.sql("SELECT age,count(name) as count FROM people group by age") 
sqlGroup.show()

+----+-----+
| age|count|
+----+-----+
|  19|    1|
|null|    1|
|  30|    1|
+----+-----+

## 2.2 Programmatically Specifying the Schema

In [15]:
from pyspark.sql.types import *

sc = spark.sparkContext

# Load a text file and convert each line to a Row.
lines = sc.textFile("./data/people.txt")
parts = lines.map(lambda l: l.split(","))
# Each line is converted to a tuple.
people = parts.map(lambda p: (p[0], p[1].strip()))

# The schema is encoded in a string.
schemaString = "name age"

fields = [StructField(field_name, StringType(), True) for field_name in schemaString.split()]
schema = StructType(fields)

# Apply the schema to the RDD.
schemaPeople = spark.createDataFrame(people, schema)

# Creates a temporary view using the DataFrame
schemaPeople.createOrReplaceTempView("people")

# SQL can be run over DataFrames that have been registered as a table.
results = spark.sql("SELECT name FROM people")

results.show()

+-------+
|   name|
+-------+
|Michael|
|   Andy|
| Justin|
+-------+

# 3.0 User Defined Functions

### Create and Register the function as a UDF

In [16]:
def squared(s):
  return s * s
spark.udf.register("squaredWithPython", squared)

### Optionally, you can also explicitly set the return type of your UDF.

In [17]:
from pyspark.sql.types import LongType
def squared_typed(s):
  return s * s
spark.udf.register("squaredWithPython", squared, LongType())

### Call the UDF in Spark SQL

In [18]:
spark.range(1, 20).registerTempTable("test")
testDF = spark.sql("select id, squaredWithPython(id) as id_squared from test")
testDF.show()

+---+----------+
| id|id_squared|
+---+----------+
|  1|         1|
|  2|         4|
|  3|         9|
|  4|        16|
|  5|        25|
|  6|        36|
|  7|        49|
|  8|        64|
|  9|        81|
| 10|       100|
| 11|       121|
| 12|       144|
| 13|       169|
| 14|       196|
| 15|       225|
| 16|       256|
| 17|       289|
| 18|       324|
| 19|       361|
+---+----------+

### Use UDF with DataFrames

In [19]:
from pyspark.sql.functions import udf
squared_udf = udf(squared, LongType())
df = spark.table("test")
df.select("id", squared_udf("id").alias("id_squared")).show()

+---+----------+
| id|id_squared|
+---+----------+
|  1|         1|
|  2|         4|
|  3|         9|
|  4|        16|
|  5|        25|
|  6|        36|
|  7|        49|
|  8|        64|
|  9|        81|
| 10|       100|
| 11|       121|
| 12|       144|
| 13|       169|
| 14|       196|
| 15|       225|
| 16|       256|
| 17|       289|
| 18|       324|
| 19|       361|
+---+----------+

# 4.0 Data Sources

### Generic Load/Save Functions

In [30]:
df = spark.read.load("users.parquet")
df.show()
df.select("name", "favorite_color").write.save("namesAndFavColors.parquet")

+------+--------------+----------------+
|  name|favorite_color|favorite_numbers|
+------+--------------+----------------+
|Alyssa|          null|  [3, 9, 15, 20]|
|   Ben|           red|              []|
+------+--------------+----------------+

### Manually Specifying Options

In [32]:
df = spark.read.load("people.json", format="json")
df.select("name", "age").write.save("namesAndAges.parquet", format="parquet")

### Run SQL on files directly

In [33]:
df = spark.sql("SELECT * FROM parquet.`users.parquet`")
df.show()

+------+--------------+----------------+
|  name|favorite_color|favorite_numbers|
+------+--------------+----------------+
|Alyssa|          null|  [3, 9, 15, 20]|
|   Ben|           red|              []|
+------+--------------+----------------+

### Save Modes

In [24]:
df = spark.read.load("users.parquet")
df.show()
df.select("name", "favorite_color").write.mode('overwrite').save("namesAndFavColors.parquet")

+------+--------------+----------------+
|  name|favorite_color|favorite_numbers|
+------+--------------+----------------+
|Alyssa|          null|  [3, 9, 15, 20]|
|   Ben|           red|              []|
+------+--------------+----------------+

### Saving to Persistent Tables

In [25]:
df.write.saveAsTable("tempt") # store in spark default location i.e workhouse directory

In [26]:
df.write.option("path", "temptables/permanentt").saveAsTable("permanentt")

### Partitioning

In [34]:
df.write.partitionBy("favorite_color").format("parquet").save("namesPartByColor.parquet")

# JSON Datasets

In [35]:
sc = spark.sparkContext # get the spark Context

#### A JSON dataset is pointed to by path.
#### The path can be either a single text file or a directory storing text files

In [36]:
path = "people.json"
peopleDF = spark.read.json(path)

#### The inferred schema can be visualized using the printSchema() method

In [37]:
peopleDF.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [38]:
# Creates a temporary view using the DataFrame
peopleDF.createOrReplaceTempView("people")

# SQL statements can be run by using the sql methods provided by spark
teenagerNamesDF = spark.sql("SELECT name FROM people WHERE age BETWEEN 13 AND 19")
teenagerNamesDF.show()

+------+
|  name|
+------+
|Justin|
+------+